*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.header{
    height:94px;
}

.header_box{
    width:1172px;
    height: 94px;
    margin: 0 auto;
    display: flex;
    background-color: aqua;
}
.header ul{
    width:532px;
    display: flex;
    justify-content: space-between;
    margin:32px 0 0 80px;

}
.header ul li{
    height:94px;
}
.header .txt{
    width:192px;
    height: 94px;
    background-image: url(../icos_tel.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center; 
    margin-left: 84px;
}
.txt p{
    margin: 22px 0 0 32px;
}
.banner{
    height:534px;
    overflow: hidden;
}
.banner img{
    width: 1426px;
    height:534px;
    position: relative;
    left:calc(50% - 713px)
}
.part1{
    background-color: rgb(247, 248, 250);
    height: 314px;
}
.part1_box{
    height: 314px;
    width:1172px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}
.part1 .small_box{
    width:390px;
    height: 314px;
    background-color: aqua;
    text-align: center;
    border-right: 2px solid rgb(161,161,161);
}
.part1 .small_box:nth-of-type(3){
    border-right: 0px;
}
.part1 .small_box img{
    margin-top: 80px;
}
.part1 .small_box:nth-of-type(1) img{
    margin-top: 66px;
}
.part1 .small_box p:nth-of-type(1){
    color: rgb(90, 89, 90);
    font-size: 24px;
    line-height: 1;
    margin-top: 40px;
}
.part1 .small_box p:nth-of-type(2){
    color:rgb(127, 130, 128);
    font-size:12px;
    line-height: 1;
    margin-top: 10px;
}
.part1 .small_box p:nth-of-type(3){
    color:rgb(161,161,161);
    font-size:12px;
    line-height: 1;
    margin-top: 16px;
}
.part2{
    height: 510px;
    background-color: rgb(240,240,240);
}
.part2_box{
    height: 510px;
    width: 1172px;
    margin: 0 auto;

}
