@font-face {
  font-family: "iconfont"; /* Project id 3676122 */
  src: url('iconfont.woff2?t=1664422743022') format('woff2'),
       url('iconfont.woff?t=1664422743022') format('woff'),
       url('iconfont.ttf?t=1664422743022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangji1fill:before {
  content: "\e77e";
}

.icon-ai64:before {
  content: "\e6b6";
}

.icon-iconfontzhizuobiaozhun023131:before {
  content: "\e685";
}

.icon-rili:before {
  content: "\e607";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-duihuakuang:before {
  content: "\e66b";
}

.icon-qiaoliangr:before {
  content: "\e621";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-jishiben:before {
  content: "\e662";
}

.icon-fill_xiaohuomiao:before {
  content: "\e631";
}

.icon-31wode:before {
  content: "\e603";
}

.icon-gengduo:before {
  content: "\e620";
}

.icon-menpiao:before {
  content: "\e8b8";
}

.icon-dianshiji:before {
  content: "\e90a";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-shipin:before {
  content: "\e604";
}

.icon-yanjing:before {
  content: "\e63a";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-gerenzhongxin:before {
  content: "\e651";
}

