*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
html{
    height: 100%;
    font-size: 32vw;
}
body{
    height: 100%;
    font-size: 0.07rem;
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    width:100%;
    flex: 1;
    overflow: auto;
    background-color: blueviolet;
}
.footer{
    width:100%;
    height: 0.41rem;
    background-color: aqua;
}
header{
    width: 100%;
    height: 0.3rem;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    
    padding: 0 0.13rem;
}
header img{
    width:1.58rem;
}